/*
* @Author: Administrator
* @Date:   2017-09-17 22:49:52
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-24 23:14:00
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	font-size: 14px;
	text-decoration: none;
}
html,body{
	width: 100%;
	height: 100%;
}
header{
	width: 100%;
	height: auto;
	background:#394b5d;
	border-bottom: 2px solid #5d6e80;

}
.headbottom{
    width:1191px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.login{
	width: 165px;
	height:auto;
	background: #ccc;
}
.login>a{
	display: block;
	width: auto;
	height: auto;
}
.login>a>img{
	display: block;
	width:100%;
	height: 100%;
}
.dblist{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dblist li{
	font-size: 17px;	
	padding: 0 22px;
	position: relative;

}
.dow{
	position: absolute;
	top:-72px;
	left: 10%;
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 35px solid #ccc;
	transition: all 0.5s ease;

}
.dblist li:hover .dow{
	transform:translateY(26px);
}
.dblist li a{
	color: #fff;
}
.dblist li:nth-child(4){
	background: #ffffff;
}
.dblist li:nth-child(4) a{
	color:#2c3e50 ;
}
.dblist li:nth-child(4) .dow{
	top:-46px;
}
.banner{
	width: 100%;
	height: 250px;
	background:url("../img/banner1.jpg") no-repeat center;
	background-size: 100%;
}
section{
	padding: 80px 63px;
}

section{
	background: #fff;
}
section>h4{
	font-size: 40px;
	font-weight: 500;
	color:#5d6e80;
	line-height: 1.1;
	margin-bottom: 30px;
}
section>ul{
	overflow: hidden;
}
section>ul>li{
	width: 285px;
	height: 196px;
	padding: 5px;
	background:#fff;
	float: left;
	position: relative;
	overflow: hidden;
}
section>ul>li>div{
	text-align:center;
	width:0px;
	height:0px;
	position:absolute;
	top:12px;
	left: 0;
	right: 0;
	bottom:0;
	/*margin: 0 auto;*/
	opacity:0;
	background:#2c3e50;
	border-radius: 50%/50%;
	/*padding-top: 30px;*/
	transition: all 1s ease;
	padding: 30px;
	box-sizing: border-box;
	margin: auto;

}
section>ul>li>div>a{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
}
section>ul>li>div>a>h3{
	font-size: 15px;
	font-weight: 600;
	margin:6px 0;
	color: black;

}
section>ul>li>div>a>p{
	font-size: 10px;
	line-height: 1.5;
}
section>ul>li>a,img{
	display: block;
	width: 100%;
	height:100%;
}
section>ul>li:hover div{
	width:200px;
	height:150px;
	transform: scale(2,2);
	opacity: 1;
	background: rgba(44,62,80,0.6);
}
footer{
	padding: 30px 0;
	width: 100%;
	background: #2c3e50;
}
footer> .cent{
	width: 50%;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
footer > .cent >ul>li{
	width: 20px;
	height: 20px;
	float: left;
	margin: 15px 10px;
	text-align: center;
	font-size: 14px;
}
footer > .cent >ul>li>a{
	color: #fff;
}
footer > .cent >p{

	font-size: 14px;
	color: #8ea0b1;
	text-align: center;
}


















